@use '../abstracts/variables' as v;

header {
    background-color: #F6F8F9;

    nav {
        padding: 0 !important;

        .navbar-brand {
            margin: 0 !important;
            max-width: 100%;
            .logo {
                height: 85px;
                width: 100%;
                object-fit: cover;
            }
        }
        .navbar-toggler {
            border: none;

            &:focus {
                box-shadow: none;
                outline: none;
            }
        }

        .navbar-collapse {
            margin-right: 30px;
            ul {
                .nav-item {
                    margin-left: 20px;

                    a {
                        font-size: 22px !important;
                        color: v.$li_color !important;
                        font-weight: bold;

                        &:hover,
                        &:focus {
                            color: v.$li_hover !important;
                        }
                    }
                }
                .dropdown-menu {
                    right: 0 !important;
                    left: auto !important;
                    text-align: right;
                }
            }
        }
    }
}